body{
    font-family: 'Comic Sans MS';
}
.site-heading-lower{
    font-family: 'Comic Sans MS'; 
}.mb-3{
    font-family: 'Comic Sans MS'; 
}
a{
    font-family: 'Comic Sans MS';
}
#mainNav{
    background-color: antiquewhite;
}